<sup>
	<i class="bi bi-info-circle ps-2  h6"
	   style="color:blue; font-weight: bold; cursor:grab"
	   @onclick="() => InfoClick(CurrentHelpMessage)">
	</i>
</sup>

@if (ShowMessage)
{
	<div class="row">
		<div class="alert alert-info" Dismissable="true" role="alert" @onclick="() => InfoClick(string.Empty)">
			@CurrentHelpMessage
		</div>
	</div>

}
@code {
	public bool ShowMessage { get; set; }
	[Parameter]
	public string? CurrentHelpMessage { get; set; }

	void InfoClick(string? HelpMessage)
	{
		if (string.IsNullOrEmpty(HelpMessage) || ShowMessage)
		{
			ShowMessage = false;
		}
		else
		{
			CurrentHelpMessage = HelpMessage;
			ShowMessage = true;
		}
	}
}
